body {
    margin: 3%;
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    border: rgb(57, 139, 167) 3px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
}

h2 {
    background-color: white;
    margin: 0;
    padding: 3%;
    text-align: center;
}

.table {
    background-color: white;
}

.p4 {
    background-color: white;
    margin: 0px;
    padding: 10px 0;
    text-align: center;
}

.create {
    text-decoration: none;
    margin: 0;
    padding: 2%;
    background-color: white;
    text-align: center;
}

.logout {
    text-decoration: none;
    margin: 0;
    padding: 2%;
    text-align: center;
}

.c-btn {
    text-decoration: none;
    border: rgb(57, 139, 167) 2px solid;
    padding: 2px;
    color: white;
    background-color: rgb(57, 139, 167);
    font-weight: bolder;
}

.h-btn {
    margin: 39%;
    text-decoration: none;
    border: rgb(57, 139, 167) 2px solid;
    padding: 2px;
    color: white;
    background-color: rgb(57, 139, 167);
    font-weight: bolder;
}

.section-login,
.section-register,
.section-edit,
.section-view {
    background-color: white;
    padding-left: 5%;
    width: 95%;
}

.section-login,
.section-register {
    border: rgb(57, 139, 167) 3px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

h4 {
    text-align: center;
}

.display-p {
    margin: 0;
    padding: 5%;
    padding-left: 0;
}

.display-id {
    margin-top: 0;
}

button {
    background-color: rgb(57, 139, 167);
    border: rgb(57, 139, 167) 2px solid;
    color: white;
    font-weight: bolder;
    font-size: medium;
    margin: 4px;
    margin-left: 0;
}

.message {
    margin: 0;
    padding: 10px 0;
    color: red;
    background-color: white;
    text-align: center;
}

/* Css for modal / pop-up window  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

.section {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 1.5%;
    border: rgb(57, 139, 167) 3.5px solid;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}